<nav class="navbar navbar-expand bg-dark text-white navbar-dark">
    <a class="navbar-brand" href="#">Menú principal del TP3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccione opción
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['mensajes']">Punto 1</a>
            <a class="dropdown-item" [routerLink]="['formulario']">Punto 2</a>
            <a class="dropdown-item" [routerLink]="['empresa']">Punto 3</a>
            <a class="dropdown-item" [routerLink]="['crucigrama']">Punto 4</a>
          </div>
        </li>
      </ul>
    </div>
</nav>
